<%= form_for(@japa) do |f| %>
  <% if @japa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@japa.errors.count, "error") %> prohibited this japa from being saved:</h2>

      <ul>
      <% @japa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rounds %><br>
    <%= f.number_field :rounds, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment, class: 'form-control' %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
